---
layout: base-glossary
Title: Glossary
---

<div class="container-fluid">
  <div class="row">
    <div class="col-2 test">
      <div class="sidebar py-3 flex-shrink-0 bg-white">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-5">On this page</span>
        </a>
        <ul class="list-unstyled">
          <li class="mb-1">
            <div class="d-flex">
            <button class="sidebar-button btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#basics-collapse" aria-expanded="false">
            </button>
            <a href="#basics">Basics</a>
            </div>

            <div class="collapse" id="basics-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li class="sublist"><a href="#b1" class="link-dark rounded">Skip</a></li>
                <li class="sublist"><a href="#b2" class="link-dark rounded">Brush</a></li>
                <li class="sublist"><a href="#b3" class="link-dark rounded">Point</a></li>
                <li class="sublist"><a href="#b4" class="link-dark rounded">Toe</a></li>
                <li class="sublist"><a href="#b5" class="link-dark rounded">Switch</a></li>
                <li class="sublist"><a href="#b6" class="link-dark rounded">Cut</a></li>
                <li class="sublist"><a href="#b7" class="link-dark rounded">1-2</a></li>
                <li class="sublist"><a href="#b8" class="link-dark rounded">2-3</a></li>
                <li class="sublist"><a href="#b9" class="link-dark rounded">Lift</a></li>
                <li class="sublist"><a href="#b10" class="link-dark rounded">Stamp</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <div class="d-flex">
              <button class="sidebar-button btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#clicks-collapse" aria-expanded="false">
              </button>
              <a href="#clicks">Clicks</a>
              </div>

              <div class="collapse" id="clicks-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li class="sublist"><a href="#c1" class="link-dark rounded">Back click</a></li>
                  <li class="sublist"><a href="#c2" class="link-dark rounded">Click</a></li>
                  <li class="sublist"><a href="#c3" class="link-dark rounded">Front click</a></li>
                  <li class="sublist"><a href="#c4" class="link-dark rounded">Triple</a></li>
                  <li class="sublist"><a href="#c5" class="link-dark rounded">Triple click</a></li>
                  <li class="sublist"><a href="#c6" class="link-dark rounded">Heel click(?)</a></li>
                </ul>
              </div>
          </li>
          <li class="mb-1">
            <div class="d-flex">
              <button class="sidebar-button btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#footwork-collapse" aria-expanded="false">
              </button>
              <a href="#footwork">Footwork</a>
            </div>

            <div class="collapse" id="footwork-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li class="sublist"><a href="#f1" class="link-dark rounded">Box</a></li>
                <li class="sublist"><a href="#f2" class="link-dark rounded">Box drum</a></li>
                <li class="sublist"><a href="#f3" class="link-dark rounded">Fishy (pl. fishies)</a></li>
                <li class="sublist"><a href="#f4" class="link-dark rounded">Flick</a></li>
                <li class="sublist"><a href="#f5" class="link-dark rounded">Heel</a></li>
                <li class="sublist"><a href="#f6" class="link-dark rounded">Snake</a></li>
                <li class="sublist"><a href="#f7" class="link-dark rounded">Twist</a></li>
                <li class="sublist"><a href="#f8" class="link-dark rounded">Pendulum</a></li>
                <li class="sublist"><a href="#f9" class="link-dark rounded">Point over down</a></li>
                <li class="sublist"><a href="#f10" class="link-dark rounded">Swoop</a></li>
                <li class="sublist"><a href="#f11" class="link-dark rounded">Tip</a></li>
                <li class="sublist"><a href="#f12" class="link-dark rounded">Treble</a></li>
                <li class="sublist"><a href="#f13" class="link-dark rounded">Treble; Back treble</a></li>
                <li class="sublist"><a href="#f14" class="link-dark rounded">Treble; Cannon [treble]</a></li>
                <li class="sublist"><a href="#f15" class="link-dark rounded">Treble; Cut treble</a></li>
                <li class="sublist"><a href="#f16" class="link-dark rounded">Treble; Treble hop</a></li>
                <li class="sublist"><a href="#f17" class="link-dark rounded">Treble; Standing treble</a></li>
                <li class="sublist"><a href="#f18" class="link-dark rounded">Treble; Giddy up [treble]</a></li>
                <li class="sublist"><a href="#f19" class="link-dark rounded">Zig zag</a></li>
                <li class="sublist"><a href="#f20" class="link-dark rounded">Cross key</a></li>
                <li class="sublist"><a href="#f21" class="link-dark rounded">Slap</a></li>
                <li class="sublist"><a href="#f22" class="link-dark rounded">Drag</a></li>
                <li class="sublist"><a href="#f23" class="link-dark rounded">Bang Tip Diddly</a></li>
                <li class="sublist"><a href="#f24" class="link-dark rounded">Swing</a></li>
                <li class="sublist"><a href="#f25" class="link-dark rounded">Step together(?)</a></li>
                <li class="sublist"><a href="#f26" class="link-dark rounded">Double drum</a></li>
                <li class="sublist"><a href="#f27" class="link-dark rounded">Roll(s)</a></li>
                <li class="sublist"><a href="#f28" class="link-dark rounded">Drum</a></li>
                <li class="sublist"><a href="#f29" class="link-dark rounded">Rock</a></li>
                <li class="sublist"><a href="#f30" class="link-dark rounded">Fast toes</a></li>
                <li class="sublist"><a href="#f31" class="link-dark rounded">??</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <div class="d-flex">
            <button class="sidebar-button btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#hops-collapse" aria-expanded="false">
            </button>
            <a href="#hops">Hops</a>
            </div>

            <div class="collapse" id="hops-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li class="sublist"><a href="#h1" class="link-dark rounded">Alligator</a></li>
                <li class="sublist"><a href="#h2" class="link-dark rounded">Birdie</a></li>
                <li class="sublist"><a href="#h3" class="link-dark rounded">Cut side out</a></li>
                <li class="sublist"><a href="#h4" class="link-dark rounded">Double</a></li>
                <li class="sublist"><a href="#h5" class="link-dark rounded">Double up</a></li>
                <li class="sublist"><a href="#h6" class="link-dark rounded">Little scissor</a></li>
                <li class="sublist"><a href="#h7" class="link-dark rounded">Hi-ya</a></li>
                <li class="sublist"><a href="#h8" class="link-dark rounded">Kick out down</a></li>
                <li class="sublist"><a href="#h9" class="link-dark rounded">Point up point</a></li>
                <li class="sublist"><a href="#h10" class="link-dark rounded">Shake</a></li>
                <li class="sublist"><a href="#h11" class="link-dark rounded">Skite up</a></li>
                <li class="sublist"><a href="#h12" class="link-dark rounded">Toe pop</a></li>
                <li class="sublist"><a href="#h13" class="link-dark rounded">Up up down</a></li>
                <li class="sublist"><a href="#h14" class="link-dark rounded">Swoop jump</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <div class="d-flex">
            <button class="sidebar-button btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#jumps-collapse" aria-expanded="false">
            </button>
            <a href="#jumps">Jumps</a>
            </div>

            <div class="collapse" id="jumps-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li class="sublist"><a href="#j1" class="link-dark rounded">Belfast</a></li>
                <li class="sublist"><a href="#j2" class="link-dark rounded">Horse jump</a></li>
                <li class="sublist"><a href="#j3" class="link-dark rounded">Bicycle</a></li>
                <li class="sublist"><a href="#j4" class="link-dark rounded">Butt cut</a></li>
                <li class="sublist"><a href="#j5" class="link-dark rounded">Butterfly</a></li>
                <li class="sublist"><a href="#j6" class="link-dark rounded">Double click</a></li>
                <li class="sublist"><a href="#j7" class="link-dark rounded">Entre chat</a></li>
                <li class="sublist"><a href="#j8" class="link-dark rounded">Flutter</a></li>
                <li class="sublist"><a href="#j9" class="link-dark rounded">Jump</a></li>
                <li class="sublist"><a href="#j10" class="link-dark rounded">Jump back</a></li>
                <li class="sublist"><a href="#j11" class="link-dark rounded">Leap</a></li>
                <li class="sublist"><a href="#j12" class="link-dark rounded">Mary Poppins [jump]</a></li>
                <li class="sublist"><a href="#j13" class="link-dark rounded">Pullback</a></li>
                <li class="sublist"><a href="#j14" class="link-dark rounded">Rollback</a></li>
                <li class="sublist"><a href="#j15" class="link-dark rounded">Scissor kick</a></li>
                <li class="sublist"><a href="#j16" class="link-dark rounded">Scissor</a></li>
                <li class="sublist"><a href="#j17" class="link-dark rounded">Scissor switch</a></li>
                <li class="sublist"><a href="#j18" class="link-dark rounded">Tuck jump</a></li>
                <li class="sublist"><a href="#j19" class="link-dark rounded">Whatchamacallit</a></li>
                <li class="sublist"><a href="#j20" class="link-dark rounded">Starfish</a></li>
                <li class="sublist"><a href="#j21" class="link-dark rounded">Switch jump</a></li>
                <li class="sublist"><a href="#j22" class="link-dark rounded">Switch jump down</a></li>
                <li class="sublist"><a href="#j23" class="link-dark rounded">Up jump</a></li>
                <li class="sublist"><a href="#j24" class="link-dark rounded">Up 2 3</a></li>
                <li class="sublist"><a href="#j25" class="link-dark rounded">Leapover</a></li>
                <li class="sublist"><a href="#j26" class="link-dark rounded">Freeze leap</a></li>
                <li class="sublist"><a href="#j27" class="link-dark rounded">Split leap</a></li>
                <li class="sublist"><a href="#j28" class="link-dark rounded">Axel</a></li>
                <li class="sublist"><a href="#j29" class="link-dark rounded">Toe pick turn</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <div class="d-flex">
              <button class="sidebar-button btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#runs-collapse" aria-expanded="false">
              </button>
              <a href="#runs">Runs</a>
              </div>

            <div class="collapse" id="runs-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li class="sublist"><a href="#r1" class="link-dark rounded">Baby Alligator</a></li>
                <li class="sublist"><a href="#r2" class="link-dark rounded">Glide</a></li>
                <li class="sublist"><a href="#r3" class="link-dark rounded">Heel run</a></li>
                <li class="sublist"><a href="#r4" class="link-dark rounded">Push</a></li>
                <li class="sublist"><a href="#r5" class="link-dark rounded">Run</a></li>
                <li class="sublist"><a href="#r6" class="link-dark rounded">Sevens</a></li>
                <li class="sublist"><a href="#r7" class="link-dark rounded">Slide</a></li>
                <li class="sublist"><a href="#r8" class="link-dark rounded">Switch-2-3</a></li>
                <li class="sublist"><a href="#r9" class="link-dark rounded">Kick</a></li>
                <li class="sublist"><a href="#r10" class="link-dark rounded">Switch step push step</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <div class="d-flex">
            <button class="sidebar-button btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#spins-collapse" aria-expanded="false">
            </button>
            <a href="#spins">Spins</a>
            </div>

            <div class="collapse" id="spins-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li class="sublist"><a href="#" class="link-dark rounded"></a></li>
                <li class="sublist"><a href="#" class="link-dark rounded"></a></li>
                <li class="sublist"><a href="#" class="link-dark rounded"></a></li>
                <li class="sublist"><a href="#" class="link-dark rounded"></a></li>
                <li class="sublist"><a href="#" class="link-dark rounded"></a></li>
                <li class="sublist"><a href="#" class="link-dark rounded"></a></li>
                <li class="sublist"><a href="#" class="link-dark rounded"></a></li>
                <li class="sublist"><a href="#" class="link-dark rounded"></a></li>
                <li class="sublist"><a href="#" class="link-dark rounded"></a></li>
                <li class="sublist"><a href="#" class="link-dark rounded"></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-10 main">
      <div class="row mt-3">

      <!--Basics-->
      <h1 id="basics" class="move-category">Basics <a class="info" tabindex="0" role="button" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="focus" title="{{ element.title }}" data-bs-html="true" data-bs-content="{{ element.description }}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
      </svg></a></h1>

      {% for entries in site.entries %}
      {% assign group = entries.group %} 
      {% if group == "Basics" %}
      <div class="col-xl-4 col-md-6">
        <div class="card" id="{{ entries.internalname }}" style="width: 18rem;">
          <img id="card" class="card-img-top" src="{{ entries.image }}" onmouseover="this.src='{{ entries.gif }}'" onmouseout="this.src='{{ entries.image }}'" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{ entries.title }}</h5>
            <p class="card-text">{{ entries.excerpt | truncatewords: 10 }}</p>
            <a href="{{ entries.url }}"class="btn btn-primary">View entry</a>
            </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}


      <!--Clicks-->
      <h1 id="clicks" class="move-category">Clicks <a class="info" tabindex="0" role="button" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="focus" title="{{ element.title }}" data-bs-html="true" data-bs-content="{{ element.description }}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
      </svg></a></h1>

      {% for entries in site.entries %}
      {% assign group = entries.group %} 
      {% if group == "Clicks" %}
      <div class="col-xl-4 col-md-6">
        <div class="card" id="{{ entries.internalname }}" style="width: 18rem;">
          <img id="card" class="card-img-top" src="{{ entries.image }}" onmouseover="this.src='{{ entries.gif }}'" onmouseout="this.src='{{ entries.image }}'" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ entries.title }}</h5>
            <p class="card-text">{{ entries.excerpt | truncatewords: 10 }}</p>
            <a href="{{ entries.url }}"class="btn btn-primary">View entry</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}


      <!--Footwork-->
      <h1 id="footwork" class="move-category">Footwork <a class="info" tabindex="0" role="button" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="focus" title="{{ element.title }}" data-bs-html="true" data-bs-content="{{ element.description }}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
      </svg></a></h1>

      {% for entries in site.entries %}
      {% assign group = entries.group %} 
      {% if group == "Footwork" %}
      <div class="col-xl-4 col-md-6">
        <div class="card" id="{{ entries.internalname }}" style="width: 18rem;">
          <img id="card" class="card-img-top" src="{{ entries.image }}" onmouseover="this.src='{{ entries.gif }}'" onmouseout="this.src='{{ entries.image }}'" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ entries.title }}</h5>
            <p class="card-text">{{ entries.excerpt | truncatewords: 10 }}</p>
            <a href="{{ entries.url }}"class="btn btn-primary">View entry</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}


      <!--Hops-->
      <h1 id="hops" class="move-category">Hops <a class="info" tabindex="0" role="button" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="focus" title="{{ element.title }}" data-bs-html="true" data-bs-content="{{ element.description }}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
      </svg></a></h1>

      {% for entries in site.entries %}
      {% assign group = entries.group %} 
      {% if group == "Hops" %}
      <div class="col-xl-4 col-md-6">
        <div class="card" id="{{ entries.internalname }}" style="width: 18rem;">
          <img id="card" class="card-img-top" src="{{ entries.image }}" onmouseover="this.src='{{ entries.gif }}'" onmouseout="this.src='{{ entries.image }}'" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ entries.title }}</h5>
            <p class="card-text">{{ entries.excerpt | truncatewords: 10 }}</p>
            <a href="{{ entries.url }}"class="btn btn-primary">View entry</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}


      <!--Jumps-->
      <h1 id="jumps" class="move-category">Jumps <a class="info" tabindex="0" role="button" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="focus" title="{{ element.title }}" data-bs-html="true" data-bs-content="{{ element.description }}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
      </svg></a></h1>

      {% for entries in site.entries %}
      {% assign group = entries.group %} 
      {% if group == "Jumps" %}
      <div class="col-xl-4 col-md-6">
        <div class="card" id="{{ entries.internalname }}" style="width: 18rem;">
          <img id="card" class="card-img-top" src="{{ entries.image }}" onmouseover="this.src='{{ entries.gif }}'" onmouseout="this.src='{{ entries.image }}'" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ entries.title }}</h5>
            <p class="card-text">{{ entries.excerpt | truncatewords: 10 }}</p>
            <a href="{{ entries.url }}"class="btn btn-primary">View entry</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      <!--Runs-->
      <h1 id="runs" class="move-category">Runs <a class="info" tabindex="0" role="button" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="focus" title="{{ element.title }}" data-bs-html="true" data-bs-content="{{ element.description }}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
      </svg></a></h1>

      {% for entries in site.entries %}
      {% assign group = entries.group %} 
      {% if group == "Runs" %}
      <div class="col-xl-4 col-md-6">
        <div class="card" id="{{ entries.internalname }}" style="width: 18rem;">
          <img id="card" class="card-img-top" src="{{ entries.image }}" onmouseover="this.src='{{ entries.gif }}'" onmouseout="this.src='{{ entries.image }}'" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ entries.title }}</h5>
            <p class="card-text">{{ entries.excerpt | truncatewords: 10 }}</p>
            <a href="{{ entries.url }}"class="btn btn-primary">View entry</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}


      <!--Spins-->
      <h1 id="spins" class="move-category">Spins <a class="info" tabindex="0" role="button" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="focus" title="{{ element.title }}" data-bs-html="true" data-bs-content="{{ element.description }}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
      </svg></a></h1>

      {% for entries in site.entries %}
      {% assign group = entries.group %} 
      {% if group == "Spins" %}
      <div class="col-xl-4 col-md-6">
        <div class="card" id="{{ entries.internalname }}" style="width: 18rem;">
          <img id="card" class="card-img-top" src="{{ entries.image }}" onmouseover="this.src='{{ entries.gif }}'" onmouseout="this.src='{{ entries.image }}'" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ entries.title }}</h5>
            <p class="card-text">{{ entries.excerpt | truncatewords: 10 }}</p>
            <a href="{{ entries.url }}"class="btn btn-primary">View entry</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      </div>

      
      
      <div class="row">
      <div class="row">
        <div class="col-8">
          {% for entries in site.entries %}
          {% assign group = entries.group %} 
          <h1 id="basics" class="move-category"> Basics <a class="info" tabindex="0" role="button" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="focus" title="{{ element.title }}" data-bs-html="true" data-bs-content="{{ element.description }}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
          </svg></a></h1>

          
          {% if group == "Basics" %}
          <h2> {{ entries.title }} </h2>
          <p> {{ entries.excerpt | truncatewords: 55 }} </p>
        </div>
        <div class="col-3">
          <img src="{{ entries.image }}">
        </div>
        <hr>
        {% endif %}
      </div>
      {% endfor %}
      </div>
    </div><!--closes col 10 main-->
  </div><!--closes row-->
</div><!--closes container-fluid-->





<!--JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
      })
    </script>

