---
layout: base
---

<h1><i class="bi bi-tags-fill"></i> Tags</h1>

<h2 id="basics">basics</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "basics" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="run">run</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "run" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="transitional">transitional</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "transitional" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2>stationary</h2>
<h2 id="footwork">footwork</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "footwork" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="trick">trick</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "trick" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="click">click</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "click" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="jump">jump</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "jump" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="treble">treble</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "treble" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="drum">drum</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "drum" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="uncrossed">uncrossed</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "uncrossed" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="drop heel">drop heel</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "drop heel" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="hop">hop</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "hop" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="modifier">modifier</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "modifier" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="leap">leap</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "leap" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="lift">lift</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "lift" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="kick">kick</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "kick" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="spin">spin</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "spin" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="travel">travel</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "travel" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="step">step</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "step" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="pointe">pointe</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "pointe" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}

<h2 id="turn">turn</h2>
{% for entries in site.entries %}
{% assign entry_tagz = entries.tagz %}
{% if entry_tagz contains "turn" %}
<li><a href="{{ entries.url }}">{{ entries.title }}</a></li>
{% endif %}
{% endfor %}



